# ==============================================================================
# py_img_scaler Environment Configuration Example
# Copy this file to '.env' and modify paths according to your target host system.
# ==============================================================================

# Custom source directory containing your input photographs (Absolute or Relative paths)
# Default if left blank: input_photos/
PYIMG_SOURCE_DIR=input_photos

# Custom destination directory where upscaled 5K frames are rendered
# Default if left blank: output_upscaled_photos/
PYIMG_DEST_DIR=output_upscaled_photos


# Custom model choice for upscaling (0, 1, or 2)
# Default if left blank: 0, smallest, least resource intensive model. 2, most performant
# 2, can heavily tax or crash system
PYIMG_MODEL=2

# Log level
LOG_LEVEL=DEBUG
